/* CURRENTLY IN: styles/main.css */


.content-color{
	background-color: #ccc;
}


.batman {
	width: 500px;
	height: 300px;
	position: absolute;
		top: 25%;
		left: 30%;
	background-color: #000;
	border-radius: 255px/150px;
	/* overflow: hidden */
}

.batman__inner-boxOne {
	width: 470px;
	height: 270px;
	position: absolute;
		top: 5%;
		left: 3%;
	background-color: #E5E500;
	border-radius: 250px/150px;
	/* overflow: hidden */	
}

.batman__inner-boxTwo {
	width: 450px;
	height: 250px;
	position: absolute;
		top: 3.3%;
		left: 2.2%;
	background-color: #000;	
	border-radius: 240px/140px;
	/* overflow: hidden */	
}	

.batman__top-left {
	width: 70px;
	height: 70px;
	position: absolute;
		top: 3%;
		left: 20%;
	background-color: #ccc;
	border-radius: 500px;
}

/*
	top: 12%;
	left: 25%;
 */

.batman__top-right {
	width: 70px;
	height: 70px;
	position: absolute;
		top: 3%;
		left: 63%;
	background-color: #ccc;
	border-radius: 500px;
}

/*
	top: 12%;
	left: 25%;
 */



.batman__lower-left {
	width: 100px;
	height: 60px;
	position: absolute;
		bottom: 5%;
		left: 15%;
	background-color: #ccc;
	border-radius: 190px / 120px;
}

.batman__lower-right {
	width: 100px;
	height: 60px;
	position: absolute;
		bottom: 5%;
		right: 15%;
	background-color: #ccc;
	border-radius: 190px / 120px;
}

.batman__lower-leftTrans {
    transform:rotate(35deg);
    	-webkit-transform:rotate(35deg);
 			 -moz-transform:rotate(35deg);
}

.batman__lower-rightTrans {
	transform:rotate(-35deg);
		-webkit-transform:rotate(-35deg);
 			 -moz-transform:rotate(-35deg);
}

.batman__lower-rightCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 4%;
		right: 34%;
	background-color: red;
	border-radius: 220px / 110px;;	
}

.batman__lower-leftCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		right: 30%;
	background-color: green;
	border-radius: 220px / 110px;
}

.batman__lower-rightCtrans {
	transform: rotate(-65deg);
		-webkit-transform:rotate(-65deg);
 			 -moz-transform:rotate(-65deg);
}

.batman__lower-leftCtrans {
	transform: rotate(66deg);
		-webkit-transform:rotate(66deg);
 			-moz-transform:rotate(66deg);	
}

.batman__left-curve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		left: 35%;
	background-color: purple;
	border-radius: 220px / 110px;		
}

.batman__right-curve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		left: 30%;
	background-color: violet;	
	border-radius: 220px / 110px;
}

.batman__left-transform {
	transform: rotate(64deg);
		-webkit-transform:rotate(64deg);
 			 -moz-transform:rotate(64deg);	
}


.batman__right-transform {
	transform: rotate(120deg);
		-webkit-transform:rotate(120deg);
 			-moz-transform:rotate(120deg);		
}

.batman__head {
	width: 110px;
	height: 50px;
	position: absolute;
		top: -2%;
		left: 37%;
	background-color: red;	
}

.batman__head-center {
	width: 45px;
	height: 65px;
	position: absolute;
		top: 5%;
		left: 44%;
	background-color: grey;
	border-radius: 230px / 110px;;		
}

.batman__head-triangleL {
	width: 0;
	height: 0;
	position: absolute;
		top: -2%;
		left: 44%;
	
}

.batman__head-triangleLBorder {
	border-bottom: 28px solid green;
	border-left: 1px solid transparent;
	border-right: 13px solid transparent; 	
}

.batman__head-triangleR {
	width: 0;
	height: 0;
	position: absolute;
		top: -2%;
		right: 46%;
}

.batman__head-triangleRBorder {
	border-bottom: 28px solid green;
	border-left: 14px solid transparent;
	border-right: 1px solid transparent;	
}


















