/* CURRENTLY IN: styles/main.css */

.batman__background {
	height: 650px;
	background: url("../batman.jpg") center center no-repeat; 
	background-size: cover;
}

.batman {
	width: 500px;
	height: 300px;
	position: absolute;
		top: 25%;
		left: 30%;
	background-color: #000;
	border-radius: 255px/150px;
	/* overflow: hidden */
}

.batman__inner-boxOne {
	width: 470px;
	height: 270px;
	position: absolute;
		top: 5%;
		left: 3%;
	background-color: #E5E500;
	border-radius: 250px/150px;
	/* overflow: hidden */	
}

.batman__inner-boxTwo {
	width: 450px;
	height: 250px;
	position: absolute;
		top: 3.3%;
		left: 2.2%;
	background-color: #000;	
	border-radius: 240px/140px;
	/* overflow: hidden */	
}	

.batman__top-left {
	width: 90px;
	height: 80px;
	position: absolute;
		top: 1%;
		left: 24%;
	background-color: #E5E500;
	border-radius: 90px/80px;
}

/*
	top: 12%;
	left: 25%;
 */

.batman__top-right {
	width: 90px;
	height: 80px;
	position: absolute;
		top: 1%;
		left: 54%;
	background-color: #E5E500;
	border-radius: 90px/80px;
}

/*
	top: 12%;
	left: 25%;
 */



.batman__lower-left {
	width: 100px;
	height: 60px;
	position: absolute;
		bottom: 5%;
		left: 15%;
	background-color: #E5E500;
	border-radius: 190px / 120px;
}

.batman__lower-right {
	width: 100px;
	height: 60px;
	position: absolute;
		bottom: 5%;
		right: 15%;
	background-color: #E5E500;
	border-radius: 190px / 120px;
}

.batman__lower-leftTrans {
    transform:rotate(35deg);
    	-webkit-transform:rotate(35deg);
 			 -moz-transform:rotate(35deg);
}

.batman__lower-rightTrans {
	transform:rotate(-35deg);
		-webkit-transform:rotate(-35deg);
 			 -moz-transform:rotate(-35deg);
}

/*.batman__lower-rightCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 4%;
		right: 34%;
	background-color: red;
	border-radius: 220px / 110px;	
}*/

/*.batman__lower-leftCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		right: 30%;
	background-color: green;
	border-radius: 220px / 110px;
}*/

.batman__lower-rightCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		right: 35%;
	background-color: #E5E500;
	border-radius: 220px / 110px;	
}

.batman__lower-leftCurve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 5%;
		right: 30%;
	background-color: #E5E500;
	border-radius: 220px / 110px;
}

.batman__lower-rightCtrans {
	transform: rotate(-60deg);
		-webkit-transform:rotate(-60deg);
 			 -moz-transform:rotate(-60deg);
}

.batman__lower-leftCtrans {
	transform: rotate(66deg);
		-webkit-transform:rotate(66deg);
 			-moz-transform:rotate(66deg);	
}

.batman__left-curve {
	width: 85px;
	height: 45px;
	position: absolute;
		bottom: 4%;
		left: 33%;
	background-color: #E5E500;
	border-radius: 220px / 110px;		
}

/*
	78px
	45px
 */

.batman__right-curve {
	width: 75px;
	height: 48px;
	position: absolute;
		bottom: 4%;
		left: 30%;
	background-color: #E5E500;	
	border-radius: 220px / 150px;
}
/*

	65px
	48px
	bottom:4%;
 */

.batman__left-transform {
	transform: rotate(60deg);
		-webkit-transform:rotate(60deg);
 			 -moz-transform:rotate(60deg);	
}


.batman__right-transform {
	transform: rotate(116deg);
		-webkit-transform:rotate(116deg);
 			-moz-transform:rotate(116deg);		
}

/*   100deg */

.batman__head {
	width: 180px;
	height: 50px;
	position: absolute;
		top: 0%;
		left: 30%;
	background-color: #E5E500;	
}

.batman__head-center {
	width: 47px;
	height: 65px;
	position: absolute;
		top: 9%;
		left: 43.7%;
	background-color: #000;
	border-radius: 230px / 110px;;		
}

.batman__head-triangleL {
	width: 0;
	height: 0;
	position: absolute;
		top: 2%;
		left: 44%;
	margin: 0 0 0 -1px;	
}

.batman__head-triangleLBorder {
	border-bottom: 28px solid #000;
	border-left: 1px solid transparent;
	border-right: 13px solid transparent; 	
}

.batman__head-triangleR {
	width: 0;
	height: 0;
	position: absolute;
		top: 2%;
		right: 46%;
	margin: 0 -1px 0 0;	
}

.batman__head-triangleRBorder {
	border-bottom: 28px solid #000;
	border-left: 14px solid transparent;
	border-right: 1px solid transparent;	
}

.cleaner {
	width: 175px;
	height: 20px;
	position: absolute;
		bottom: 0%;
		left: 30%;
	background-color: #E5E500;
}
















